<style>
  :root {
    --pagination-btn-bg-color: #e3e3e3;
    --pagination-btn-font-color: #000;
    --pagination-btn-bg-color-current: #d3a675;
    --pagination-btn-font-color-current: #fff;
    --pagination-btn-bg-color-hover: #d3a675;
    --pagination-btn-font-color-hover: #fff;
    --pagination-btn-border-radius: 5px;
  }
.w-dyn-list{
  width: 100%;
}
.w-dyn-items{
  padding-bottom: 2rem;
}
.fs-list_pagination_button.w--current {
  color: var(--pagination-btn-font-color-current);
  cursor: not-allowed;
  background-color: var(--pagination-btn-bg-color-current);
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}
div.list_page-buttons{
  display: contents;
}
div.w-pagination-wrapper a{
  font-size: 1rem;
  line-height: 1em;
  margin: 4px;
  padding: 12px 17px;
  align-content: center;
  text-decoration: none;
  border-radius: var(--pagination-btn-border-radius);
}
a.fs-list_pagination_button,
.w-pagination-next,
.w-pagination-previous {
  color: var(--pagination-btn-font-color);
  background-color: var(--pagination-btn-bg-color);
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
}

a.fs-list_pagination_button:hover,
.w-pagination-previous:hover,
.w-pagination-next:hover {
  color: var(--pagination-btn-font-color-hover);
  background-color: var(--pagination-btn-bg-color-hover);
  transform: scale(1.05); /* scale effect on hover */
}

.fs-list_pagination_dots p {
  font-size: 20px;
  letter-spacing: 4px;  
  color: var(--pagination-btn-font-color);        
  margin: 0;           
  padding: 0;
  line-height: 1;    
}
a[aria-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
  transform: none !important;
}
.w-dyn-item {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}
.w-dyn-item:nth-child(1) { animation-delay: 0.1s; }
.w-dyn-item:nth-child(2) { animation-delay: 0.2s; }
.w-dyn-item:nth-child(3) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(4) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(5) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(6) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(7) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(8) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(9) { animation-delay: 0.3s; }
.w-dyn-item:nth-child(10) { animation-delay: 0.3s; }
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
</style>
